<div>
  <img src="../assets/img/boda3.jpeg" width="700px" height="500px" style="position: absolute;left: -200px;" >
<div style="position:absolute; right: 60px; top:40px; color:bisque; font-weight: bold;">
    <font size=5 face="monospace">ALBERTO & MARIA</font><br>
    <font size=5 face="monospace">13-AGOSTO-2022</font>
</div>
<!--<div style="position:absolute;right: 900px; top:20px;">
    <img src="../assets/img/logo4.png" width="-1000px" height="-1000px">
  </div>-->
  <!--<form style="position:absolute; right: 1040px; top:100px;" action="https://www.google.com/search?q=perros&oq=perros&aqs=chrome..69i57j46i67i131i433j0i67j0i433i512l2j0i512j0i131i433i457i512j0i402j0i512j46i433i512.2169j0j7&sourceid=chrome&ie=UTF-8">
      <button type="submit">SUBIR</button>
  </form>-->
 <a href="https://accounts.google.com/ServiceLogin/identifier?sacu=1&passive=1209600&acui=0&ifkv=AQN2RmUBgIUAc6Sws7N31BCrmBMorVr5IeqkrtwCXeg0L9TFmmhX2srQ1XieBqP2Xy5mi2vAxyWs&flowName=GlifWebSignIn&flowEntry=ServiceLogin&cid=1&TL=AKqFyY9MnkaQQ53SSdVthYwabKHg_HQHGckEG6SfZmoMBpaarAzZ8Ad8cCNwscjm" style="style="position:absolute; right: 130px; top:100px;">
    <button>SUBIR</button>
  </a> 
</div>

  
