<div>
  <img src="../assets/img/boda3.jpeg" width="700px" height="500px" style="position: absolute;left: -200px;" >
<div style="position:absolute; right: 60px; top:40px; color:bisque; font-weight: bold;">
    <font size=5 face="monospace">ALBERTO & MARIA</font><br>
    <font size=5 face="monospace">13-AGOSTO-2022</font>
</div>
<!--<div style="position:absolute;right: 900px; top:20px;">
    <img src="../assets/img/logo4.png" width="-1000px" height="-1000px">
  </div>-->
  <form style="position:absolute; right: 90px; top:100px;" action="https://accounts.google.com/ServiceLogin/identifier?ifkv=AQN2RmXsSDKe-Aw7s764bw0rrXwCg5ktJr8YC5eGteKmDEkopQNRzYBNIkeQ2OUWacWBQJdk_i17Dw&flowName=GlifWebSignIn&flowEntry=ServiceLogin">
      <button >SUBIR</button>
  </form>
</div>

  
