<div>
<!--logo-->
<div style="position:absolute;right: 920px; top:-120px;">
    <img src="../assets/img/MARIA Y ALBERTO.png" width="500px" height="500px">
  </div>
  <!--formulario e imagen fondo-->
  <div style="position:absolute; right: 80px; top:150px; color: #e67b7d;">
      <font size=5 face="monospace">ALBERTO & MARIA</font><br>
      <font size=5 face="monospace">13-AGOSTO-2022</font>
  </div>
  <!--<div>
  <input type="text" size="15" maxlength="30" placeholder="USUARIO" name="usuario"style="position:absolute; right: 950px; top:220px; color: #e67b7d;">
    <input type="password" size="15" maxlength="30" placeholder="CONTRASEÑA" name="password"style="position:absolute; right: 950px; top:260px; color: #e67b7d;">
  </div>-->
  <div style="position:absolute; right: 30px; top:340px;">
    <!--EL FORMULARIO CONSTARA CON EL NOMBRE DEL USUARIO, APELLIDOS, CORREO ELECTRONICO
   AÑO DE NACIMENTO, CONTRASEÑA-->
     <table>
       <tr *ngFor="let art of articulos">    
       </tr>
     </table>
     <div>
       <form action="" method="get">
           <label for="name">NOMBRE:</label>
           <input type="text" id="name" name="name" [(ngModel)]="art.name"><br><br>
          
      
           <label for="password">CONTRASEÑA</label>
           <input type="password" id="password" name="pasword" [(ngModel)]="art.password"><br><br>
           
           
         </form>        
     </div>  
 </div>

  <!--boton para ir a la siguiente vista -->
  
    <form (click)="alta();" style="position:absolute; right: 60px; top:450px;">
      <button type="submit">INICIAR SESIÓN</button>
    </form>
</div>
